name: Scrape E-svitlo
on:
  schedule:
    - cron: "*/10 * * * *"  # кожні 10 хв
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install

      - name: Run scraper
        run: python scraper.py

      - name: Commit results
        run: |
          git config --global user.email "bot@example.com"
          git config --global user.name "scraper-bot"
          git add result.json || true
          git commit -m "Update data" || true
          git push || true
