name: Scrape

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install -r requirements.txt
      - run: python scraper.py
        env:
          ESVITLO_LOGIN: ${{ secrets.ESVITLO_LOGIN }}
          ESVITLO_PASSWORD: ${{ secrets.ESVITLO_PASSWORD }}
